/*======================= Start custom fonts and custom color on header style ==========================*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
.clCustomFont {
    font-family: 'Raleway', sans-serif;
}

.sapContrastPlus.clCustomHeaderBg {
    background-color: #fff!important;
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMBtnInner {
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMText {
    color: #2f3c48;
}

.sapContrastPlus.sapMIBar-CTX.clCustomHeaderBg .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: transparent;
    color: #346187;
}


/*======================= End custom fonts and custom color on header style ==========================*/

.sapContrastPlus .sapMBtn.CustomClSelected .sapMBtnInner {
    background-color: rgba(99, 127, 153, 0.5)!important;
    border-color: rgba(99, 127, 153, 0.5);
}

.sapMLnk.clCurrent,
.sapMLnk.clCurrent:hover:not(.sapMLnkDsbl) {
    color: #fff;
    text-decoration: none!important;
}

.sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImageForce .sapUxAPObjectPageHeaderObjectImage {
    height: auto!important;
    outline: none;
    border: none!important;
    opacity: 1!important;
    width: 8rem !important;
}

.sapContrastPlus .sapMITBFilterIcon {
    background: #91c8f6;
    color: #2f3c48;
}

.sapContrastPlus .sapMITBDisabled .sapMITBFilterIcon {
    color: #91c8f6;
    background-color: transparent;
}

.sapContrastPlus.sapMITBFilterIcon::before,
.sapContrastPlus .sapMITBFilterIcon::before {
    text-shadow: none!important;
}


/* For Icon tab bar */

.ClNewECP .sapMITBTab {
    width: 7rem!important;
}

.ClNewECP .sapMITBFilter .sapMITBText {
    overflow: visible!important;
    width: 7rem!important;
    white-space: initial !important;
    padding: 0 !important;
    height: 20px!important;
}

.clClearAll {
    height: 1;
    width: 100%;
}

.clClearAll:after {
    clear: both;
    position: relative;
    display: block;
    content: '';
    width: 100%;
}

#TreeTableBasic .sapUiTableHdrTitle {
    text-align: center!important;
}

#idSubmitMessg {
    font-size: 1rem;
}

html.sap-desktop .sapContrastPlus .sapMBtn:focus>.sapMFocusable {
    outline: none!important;
}

.clClaimTable .sapMListTblHeader>.sapMTableTH {
    background-color: #3f5161;
}

.clClaimTable .sapMListTblHeader>.sapMTableTH .sapMText {
    color: #fff;
}
.clFormTitleGap  .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0;
}
.clFormTitleGap .sapUiFormResGridCont {padding-bottom:0;}

.clFormTitleGap .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanM12)>.sapMLabel {
	padding-left:3rem;
	text-align: left!important;
}

#__xmlview1--ObjectPageLayout-spacer {display:none!important;}
#__xmlview2--ObjectPageLayout-spacer {display:none!important;}
#__xmlview3--ObjectPageLayout-spacer {display:none!important;}
#__xmlview4--ObjectPageLayout-spacer {display:none!important;}
#__xmlview5--ObjectPageLayout-spacer {display:none!important;}